<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- https://datatables.net/examples/styling/bootstrap.html -->

<link rel="stylesheet" type="text/css" href=
"//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<style type="text/css" class="init">
body { font-size: 140%; }
</style>
    <title></title>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">Flasky</a> -->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>


{% block content %}
<div style='margin:2%'>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Patent Number</th>
                <th>Similarity</th>
                <th>PageRank</th>
                <th>Default Expire Day</th>
                <th>Time to Expire</th>
            </tr>
        </thead>
        <tbody>
            {% for pat, sim, pr, expire_day, time_to_expire, link in data %}
            <tr>
                <td><a href={{ link }}> {{ pat }} </a></td>
                <td>{{ sim }}</td>
                <td>{{ pr }}</td>
                <td>{{ expire_day }}</td>
                <td>{{ time_to_expire }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
                                   
{% endblock %}

<!--   <div class="centered">
    <a href="/">Go Back</a>
  </div>
 -->

<!-- <iframe width="550" height="550" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~Dreamshot/212.embed?width=550&height=550"></iframe>
 -->
 
<!-- <div>
    <a href="https://plot.ly/~Dreamshot/212/" target="_blank" title="Public Transport Use in North America" style="display: block; text-align: center;"><img src="https://plot.ly/~Dreamshot/212.png" alt="Public Transport Use in North America" style="max-width: 100%;width: 750px;"  width="750" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Dreamshot:212" src="https://plot.ly/embed.js" async></script>
</div>
 -->
</body>
</html>
<script>
$(document).ready(function() {
    $('#example').dataTable();
} );
</script>