<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- https://datatables.net/examples/styling/bootstrap.html -->

<!-- load D3js -->
<script src="http://www.d3plus.org/js/d3.js"></script>
 
<!-- load D3plus after D3js -->
<script src="http://www.d3plus.org/js/d3plus.js"></script>
 
<link rel="stylesheet" type="text/css" href=
"https://cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  <script src="lib/d3.js"></script>
    <script src="lib/nv.d3.js"></script>

    <link href="lib/nv.d3.css" rel="stylesheet" type="text/css">


<style type="text/css" class="init">


body { font-size: 140%; }
</style>
    <title></title>

</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">Flasky</a> -->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>


{% block content %}
<div style='margin:2%'>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Patent Number</th>
                <th>Similarity</th>
                <th>PageRank</th>
                <th>Default Expire Day</th>
                <!-- <th>Default Time to Expire</th> -->
                <th>Expiration Prediction</th>
            </tr>
        </thead>
        <tbody>
            {% for pat, sim, pr, expire_day, time_to_expire, link, pred in data %}
            <tr>
                <td><a href={{ link }}> {{ pat }} </a></td>
                <td>{{ sim }}</td>
                <td>{{ pr }}</td>
                <td>{{ expire_day }}</td>
                <!-- <td>{{ time_to_expire }}</td> -->
                <td>{{ pred }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
                                   
{% endblock %}


<div align='middle'>
<iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no" src= {{ plot_url }} ></iframe>
</div>


<div id='chart'> <svg></svg></div>

</body>
</html>

<script>
$(document).ready(function() {
    $('#example').dataTable();
} );
</script>

