<!DOCTYPE html>
<html lang="en">
  <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Input Patent Query</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	</head>
	<body>
    <div class="container">
    	<form action="/table"  method="POST" id="queryform">
      <h1>Hunting for Patents</h1>
        <br><br>
      <h2>Input patent query</h2>
    		<br>
			<h3>title</h3>
			<!-- <br> -->
    		<textarea name="title" rows="1" cols="80" style="overflow:scroll" form="queryform">
    		</textarea>
    		<br>
			<h3>abstract</h3>
			<!-- <br> -->
    		<textarea name="abstract" rows="4" cols="80" style="overflow:scroll" form="queryform">
    		</textarea>
  			<br>
      <h3>claims</h3>
      <!-- <br> -->
        <textarea name="claims" rows="6" cols="80" style="overflow:scroll" form="queryform">
        </textarea>
        <br><br>

  			<div><input type="submit"  class="styledbtn"/></div>  
		</form></div>
	</body>
</html>
