<!DOCTYPE html>
<html lang="en">
  <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Input Patent Query</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	</head>
	<body>
    <div class="container">
    	<form action="/table2"  method="POST" id="queryform">
      <h1>Input patent query</h1>
    		<br><br>
			<h2>title</h2>
			<br>
    		<textarea name="title" rows="2" cols="120" style="overflow:scroll" form="queryform">
    		</textarea>
    		<br><br>
			<h2>abstract</h2>
			<br>
    		<textarea name="abstract" rows="5" cols="120" style="overflow:scroll" form="queryform">
    		</textarea>
  			<br><br>
      <h2>claims</h2>
      <br>
        <textarea name="claims" rows="10" cols="120" style="overflow:scroll" form="queryform">
        </textarea>
        <br><br>

  			<div><input type="submit"  class="styledbtn"/></div>  
		</form></div>
	</body>
</html>
